<table class="table table-striped">
	<%= pole.hidden_field(:uzytkownik_id, :class => 'form-control') %></td>
	<tr>
		<th><%= pole.label(:data, "DATA:") %></th>
		<td><%= pole.date_field(:data, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= pole.label(:nazwa, "NAZWA:") %></th>
		<td><%= pole.text_field(:nazwa, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= pole.label(:miejscowosc, "MIEJSCOWOŚĆ:") %></th>
		<td><%= pole.text_field(:miejscowosc, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= pole.label(:dystans, "DYSTANS:") %></th>
		<td>
			<table>
				<tr>
					<td><%= pole.text_field(:dystans, :class => 'form-control') %></td>
					<td><%= pole.select(:jednostkaMiary, @jednostkaMiary, :class => 'form-control') %></td>
				</tr>
			</table>
		</td>
	</tr>	
</table>