<div class="hero-unit">

	<h1>NOWY BIEG:</h1>
	<h3><%= @bieg.nazwa %></h3>

	<hr>

	<%= form_for(:bieg, :url => {:action => 'aktualizuj', :id => @bieg.id}) do |pole| %>

		<%= render(:partial => "form", :locals => {:pole => pole}) %>

		<div style="text-align: right;">
			<%= submit_tag("Aktualizuj", :class => 'btn  btn-success') %>
			<%= link_to("Anuluj", {:action => 'index'}, :class => 'btn btn-danger')%>
		</div>

	<% end %>
	
</div>