<h1>USUŃ BIEG: <%= @bieg.nazwa %></h1>

<%= link_to("Wróc", {:action => 'index'})%>

<hr>

<%= form_for(:bieg, :url => {:action => 'kasuj', :id => @bieg.id}) do |pole| %>

	<p>Czy na pewno mam usunąć ten bieg?</p>
	<table>
		<tr>
			<th>DATA</th>
			<td><%= @bieg.data %></td>
		</tr>
		<tr>
			<th>NAZWA</th>
			<td><%= @bieg.nazwa %></td>
		</tr>
		<tr>
			<th>MIEJSCOWOŚĆ</th>
			<td><%= @bieg.miejscowosc %></td>
		</tr>
		<tr>
			<th>DYSTANS</th>
			<td><%= @bieg.dystans %></td>
			<td><%= @bieg.jednostkiMiary %></td>
		</tr>	
	</table>	

	<div>
		<%= submit_tag("Usuń") %>
	</div>

<% end %>