<div class="hero-unit">

	<h1>USUŃ BIEG:</h1>
	<h3><%= @bieg.nazwa %></h3>

	<hr>

	<%= form_for(:bieg, :url => {:action => 'kasuj', :id => @bieg.id}) do |pole| %>

		<div class="alert alert-danger">
			<p>Czy na pewno chcesz usunąć ten bieg?</p>
		</div>
		
		<table class="table table-striped">
			<tr>
				<th>DATA</th>
				<td><%= @bieg.data %></td>
			</tr>
			<tr>
				<th>NAZWA</th>
				<td><%= @bieg.nazwa %></td>
			</tr>
			<tr>
				<th>MIEJSCOWOŚĆ</th>
				<td><%= @bieg.miejscowosc %></td>
			</tr>
			<tr>
				<th>DYSTANS</th>
				<td>
				<table>
					<tr>
						<td><%= @bieg.dystans %></td>
						<td><%= @bieg.jednostkaMiary %></td>
					</tr>
				</table>
			</td>
			</tr>	
		</table>	

		<div style="text-align: right;">
			<%= submit_tag("Usuń", :class => 'btn  btn-danger') %>
			<%= link_to("Anuluj", {:action => 'index'}, :class => 'btn btn-default')%>
		</div>

	<% end %>
</div>