<table class="table table-striped">
	<tr>
		<th><%= pole.label(:uzytkownik, "UŻYTKOWNIK:") %></th>
		<td><%= pole.text_field(:uzytkownik, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= pole.label(:imie, "IMIĘ:") %></th>
		<td><%= pole.text_field(:imie, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= pole.label(:nazwisko, "NAZWISKO:") %></th>
		<td><%= pole.text_field(:nazwisko, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= pole.label(:email, "EMAIL:") %></th>
		<td><%= pole.text_field(:email, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= pole.label(:telefon, "TELEFON:") %></th>
		<td><%= pole.text_field(:telefon, :class => 'form-control') %></td>
	</tr>	
</table>